.App {
  text-align: center;
}

.ReactModal__Content {
  position: absolute !important;
  top: 40% !important;
  left: 25% !important;
  right: 25% !important;
  bottom: 40% !important;
  background-color: papayawhip !important;
}

.deleteIcon{
 color: red;
 

}
.delete-icon-margin{
  margin-top: 7px;
}
.addIcon{
  color: green;
}

.margin-style{
  margin-top: 0px !important;
}